<!-- Image gallery -->
<section id="img-gallery" class="clearfix">
    <div class="gallery-img ">
        <div id="gallery">
            <img alt="ahualulco-escudo" src="{{ _host }}img/logos/ahualulco-escudo.jpg"/>
            <img alt="animal-fest" src="{{ _host }}img/logos/animal-fest.jpg"/>
            <img alt="artmosfera" src="{{ _host }}img/logos/artmosfera.jpg"/>
            <img alt="asej" src="{{ _host }}img/logos/asej.jpg"/>
            <img alt="cabanas" src="{{ _host }}img/logos/cabanas.jpg"/>
            <img alt="canal-44" src="{{ _host }}img/logos/canal-44.jpg"/>
            <img alt="casther" src="{{ _host }}img/logos/casther.jpg"/>
            <img alt="cdnh" src="{{ _host }}img/logos/cdnh.jpg"/>
            <img alt="chai" src="{{ _host }}img/logos/chai.jpg"/>
            <img alt="coedis" src="{{ _host }}img/logos/coedis.jpg"/>
            <img alt="coinscide" src="{{ _host }}img/logos/coinscide.jpg"/>
            <img alt="corporativa-de-fundaciones-iso" src="{{ _host }}img/logos/corporativa-de-fundaciones-iso.jpg"/>
            <img alt="cucea" src="{{ _host }}img/logos/cucea.jpg"/>
            <img alt="dca" src="{{ _host }}img/logos/dca.jpg"/>
            <img alt="dif_jalisco" src="{{ _host }}img/logos/dif_jalisco.jpg"/>
            <img alt="dogdog" src="{{ _host }}img/logos/dogdog.jpg"/>
            <img alt="fm4" src="{{ _host }}img/logos/fm4.jpg"/>
            <img alt="gobierno-guadalajara" src="{{ _host }}img/logos/gobierno-guadalajara.jpg"/>
            <img alt="gobierno-jalisco" src="{{ _host }}img/logos/gobierno-jalisco.jpg"/>
            <img alt="gpm" src="{{ _host }}img/logos/gpm.jpg"/>
            <img alt="gratiferia" src="{{ _host }}img/logos/gratiferia.jpg"/>
            <img alt="gtda" src="{{ _host }}img/logos/gtda.jpg"/>
            <img alt="hyparch" src="{{ _host }}img/logos/hyparch.jpg"/>
            <img alt="ijas" src="{{ _host }}img/logos/ijas.jpg"/>
            <img alt="indesol" src="{{ _host }}img/logos/indesol.jpg"/>
            <img alt="jalisco-tur" src="{{ _host }}img/logos/jalisco-tur.jpg"/>
            <img alt="marisol" src="{{ _host }}img/logos/marisol.jpg"/>
            <img alt="mvs" src="{{ _host }}img/logos/mvs.jpg"/>
            <img alt="nona" src="{{ _host }}img/logos/nona.jpg"/>
            <img alt="nupec" src="{{ _host }}img/logos/nupec.jpg"/>
            <img alt="orli" src="{{ _host }}img/logos/orli.jpg"/>
            <img alt="petra" src="{{ _host }}img/logos/petra.jpg"/>
            <img alt="porsociedad" src="{{ _host }}img/logos/porsociedad.jpg"/>
            <img alt="publiglobos" src="{{ _host }}img/logos/publiglobos.jpg"/>
            <img alt="sanchali" src="{{ _host }}img/logos/sanchali.jpg"/>
            <img alt="sat" src="{{ _host }}img/logos/sat.jpg"/>
            <img alt="sedeco" src="{{ _host }}img/logos/sedeco.jpg"/>
            <img alt="sedes" src="{{ _host }}img/logos/sedes.jpg"/>
            <img alt="sedesol" src="{{ _host }}img/logos/sedesol.jpg"/>
            <img alt="soy-joven-ijj" src="{{ _host }}img/logos/soy-joven-ijj.jpg"/>
            <img alt="sport-city" src="{{ _host }}img/logos/sport-city.jpg"/>
            <img alt="tlajomulco" src="{{ _host }}img/logos/tlajomulco.jpg"/>
            <img alt="udg" src="{{ _host }}img/logos/udg.jpg"/>
            <img alt="unedl" src="{{ _host }}img/logos/unedl.jpg"/>
            <img alt="univa" src="{{ _host }}img/logos/univa.jpg"/>
            <img alt="universidad-panamericana" src="{{ _host }}img/logos/universidad-panamericana.jpg"/>
            <img alt="uvm" src="{{ _host }}img/logos/uvm.jpg"/>
            <img alt="vida-independiente" src="{{ _host }}img/logos/vida-independiente.jpg"/>
            <img alt="wnbr" src="{{ _host }}img/logos/wnbr.jpg"/>
            <img alt="zapopan" src="{{ _host }}img/logos/zapopan.jpg"/>
        </div>
    </div>
</section>
<!--End Image gallery -->