{# =========================
   GALLERY
============================== #}
<section id="logros" class="p-y-lg">

    {# Section Header #}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-header text-center wow fadeIn">
                    <h2 class="monako">Logros</h2>
                    {#
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque animi labore minus quidem eum voluptate, sapiente doloribus, molestias in explicabo totam.</p>
                    #}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- Image gallery -->
            <div class="gallery-img ">
                  <div id="gallery-logros">
                        <img alt="Caso Institucional 2017" src="{{ _host }}img/assets/logros/thumb/caso-institucional-2017.jpg" />
                        <img alt="Ayuntamiento de Zapopan y el Instituto de la Juventud Zapopan" src="{{ _host }}img/assets/logros/thumb/constancia-ijz.jpg" />
                        <img alt="Instituto Nacional de Desarrollo Social" src="{{ _host }}img/assets/logros/thumb/constancia-sedesol.jpg" />
                        <img alt="ASEJ Auditoría Superior del Estado de Jalisco" src="{{ _host }}img/assets/logros/thumb/reconocimiento-asej.jpg" />
                        <img alt="Comision Estatal de Derechos Humanos" src="{{ _host }}img/assets/logros/thumb/reconocimiento-cedhj.jpg" />
                        <img alt="La Gente Pequeña de México, A.C." src="{{ _host }}img/assets/logros/thumb/reconocimiento-la-gente-pequena-de-mexico.jpg" />
                        <img alt="Gobierno de Guadalajara a través de la Coordinación de Desarrollo Económico y Combate a la Desigualdad y la Direcci+on de Turismo" src="{{ _host }}img/assets/logros/thumb/reconocimiento-tdecd.jpg" />
                        <img alt="Gobierno de Guadalajara" src="{{ _host }}img/assets/logros/thumb/premio-gdl-gob.jpg" />
                  </div>
            </div>
            <!--End Image gallery -->
        </div>{# /End Portfolio Row #}
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center p-t-md wow fadeIn" data-wow-delay="0.8s">
                <a href="{{ _host }}logros" class="btn btn-shadow btn-blue text-uppercase">Más Información</a>
            </div>
        </div>{# /End Portfolio Row #}

        {#
        <!-- Portfolio Footer Cta -->
        <div class="col-md-8 col-md-offset-2 text-center p-t-md wow fadeIn" data-wow-delay="0.8s">
            <h4 class="m-t f-w-900">We turn great ideas into brilliant realities.</h4>
            <p class="p-opacity m-b-md">Quis dolorem architecto nemo, enim pariatur, aliquid laudantium voluptatum animi. Adipisicing rerum, natus repellendus possimus et excepturi. Reprehenderit iste, laborum quod mollitia nesciunt.</p>
            <a href="#" class="btn btn-shadow btn-blue text-uppercase">View more Work</a>
        </div>
        #}

    </div>{# /End Container #}
</section>
{# /End Portfolio Section #}