{# =========================
    TEAM NUPALI
============================== #}
<section id="partners1-2" class="p-y content-align-md bg-edit bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center clients c2 y-middle">
                <div class="col-md-12 mb-70 mt-70">
                    <h3 style="font-size: 2.5em; font-weight: bold;">Equipo Nupali</h3>
                </div>
            </div>
            <div class="col-md-12 text-center clients c2 y-middle">
                {# Partners/Clients imgx #}
                <div class="col-md-12">
                    <div id="owl-partners-3" class="owl-carousel owl-theme">
                        <div class="item">
                            <img src="{{ _host }}img/assets/team/alejandra_zacarias.jpg" class="img-responsive" alt=". . .">
                            <h5 class="p-tab m-b-md mt-30">Alejandra Zacarias.</h5>
                            <div class="col-md-11">
                                <p class="p-tab m-b-md">Daria pa los cuates, diseñadora FreeLancer, hace clown, malabares, hula básico, talleres para niños es gratiferia team y odia a la mayoria de las personas. Es muy creativa y dedicada además le gusta ayudar a los perritos.</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="{{ _host }}img/assets/team/alejandro_sosa_cardenas.jpg" class="img-responsive" alt=". . .">
                            <h5 class="p-tab m-b-md mt-30">Alejandro Sosa Cárdenas.</h5>
                            <div class="col-md-11">
                                <p class="p-tab m-b-md">Bilingüe, arquitecto freelance le gusta el de dibujo, las cosas a escala bien proporcionadas y hacer gratiferias. Le gusta comer y dormir, es geek y papiroflexia master conozcan a Alex Macho.</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="{{ _host }}img/assets/team/andrea_sanchez.jpg" class="img-responsive" alt=". . .">
                            <h5 class="p-tab m-b-md mt-30">Andrea Sanchez.</h5>
                            <div class="col-md-11">
                                <p class="p-tab m-b-md">Lic. en Turismo con bocina integrada en su melodiosa voz nos ayuda a guardar el orden de la asociación, es maestra de flamenco gusta de las manualidades y es experta en redes sociales. Noble y carismática nos regala su trabajo y entusiasmo.</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="{{ _host }}img/assets/team/david_magallanes_franco.jpg" class="img-responsive" alt=". . .">
                            <h5 class="p-tab m-b-md mt-30">David Magallanes Franco.</h5>
                            <div class="col-md-11">
                                <p class="p-tab m-b-md">Licenciado en educación especial, gusta de los tacos, las tortas jumbo y de ayudar a las demás personas a entender la discapacidad de manera amena y consiente. Le gusta el tequila, las caminatas largas (cada año hace la caminata de la virgen de talpa :/) y es el coordinador y facilitador estrella de Nupali.</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="{{ _host }}img/assets/team/diana_nieto_torres.jpg" class="img-responsive" alt=". . .">
                            <h5 class="p-tab m-b-md mt-30">Diana Nieto Torres</h5>
                            <div class="col-md-11">
                                <p class="p-tab m-b-md">Con 1, 20 de estatura y 22 años de edad llego a la asociación para no irse jamás. Estudia y trabaja apoyando a su familia. Le gusta viajar, las cahuamas y es la persona mas leal del equipo. Con su risa inconfundible y su gran energía es parte fundamental de Nupali.</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="{{ _host }}img/assets/team/gerardo_spindola_garcia.jpg" class="img-responsive" alt=". . .">
                            <h5 class="p-tab m-b-md mt-30">Gerardo Espíndola García.</h5>
                            <div class="col-md-11">
                                <p class="p-tab m-b-md">33 años y Licenciado en CTC, camarógrafo FreeLancer, le gusta dar largas caminatas por la playa al atardecer, la música variada (hasta el momento nadie entiende lo que escucha) es el guardián del orden y la eficacia dentro de la asociación además uno de sus fundadores.</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="{{ _host }}img/assets/team/gustavo_aceves_torres.jpg" class="img-responsive" alt=". . .">
                            <h5 class="p-tab m-b-md mt-30">Gustavo Aceves Torres.</h5>
                            <div class="col-md-11">
                                <p class="p-tab m-b-md">(Don Arquitecto) con 33 años sigue en la búsqueda de la verdad de la vida, gran fan de Metálica y el deporte, le gusta correr y andar en bicicleta. Gracias a su entusiasmo e iniciativa iniciamos este viaje hacia Nupali, el lleva la cuentas y la alegría a este gran equipo.</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="{{ _host }}img/assets/team/jessica_quinones.jpg" class="img-responsive" alt=". . .">
                            <h5 class="p-tab m-b-md mt-30">Jessica  Quiñonez</h5>
                            <div class="col-md-11">
                                <p class="p-tab m-b-md">34 años, licenciada en técnicas de la comunicación y mil usos, es uno de los fundadores de Nupali y la encargada de relaciones públicas, con una gran sonrisa, ante todo. Le gustan las terapias alternativas, viajar y cuidar a su equipo. Su color favorito es el rojo.</p>
                            </div>
                        </div>
                    </div>
                </div>{# /End imgx Col #}
            </div>{# /End Col-12 #}
        </div>{# /End Row #}
    </div>{# /End Container #}
</section>
{# /End Partners Section #}