{# ========================= PORTFOLIO ============================== #}
<section id="portfolio1-1" class="p-y-lg">
    <div class="container">
        <div class="row">
            <div class="wrap small-width">
                <div id="try"></div>
                <ul id="box-container">
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/3-copy.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/3-copy.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/3r.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/3r.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/7.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/7.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/8.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/8.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/COLLI-CTM029.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/COLLI-CTM029.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/COLLI-CTM030.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/COLLI-CTM030.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/COLLI-CTM032.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/COLLI-CTM032.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_0895.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_0895.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_0903.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_0903.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_0907.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_0907.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_0913.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_0913.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_0914.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_0914.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_0915.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_0915.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_0917.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_0917.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_0919.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_0919.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_0923.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_0923.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_0931.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_0931.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_0932.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_0932.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_0934.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_0934.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_0935.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_0935.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_1542.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_1542.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_1543.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_1543.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_1546.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_1546.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_1548.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_1548.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_1551.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_1551.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_1556.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_1556.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_1558.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_1558.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_20131016_112920.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_20131016_112920.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_2556.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_2556.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_2557.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_2557.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_2559.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_2559.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_2560.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_2560.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_2562.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_2562.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_2564.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_2564.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_2566.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_2566.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_2569.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_2569.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_2570.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_2570.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_2575.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_2575.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_2578.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_2578.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_2581.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_2581.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_2583.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_2583.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_2588.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_2588.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_2591.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_2591.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_2593.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_2593.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_3110.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_3110.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_3116.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_3116.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_3118.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_3118.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_3122.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_3122.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_3124.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_3124.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_4060.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_4060.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_4081.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_4081.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_4082.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_4082.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_4083.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_4083.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_4084.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_4084.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_8740.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_8740.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_8743.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_8743.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_8745.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_8745.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_8754.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_8754.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_8868.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_8868.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_8919.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_8919.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_8992.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_8992.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_8995.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_8995.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_9014.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_9014.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_9025.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_9025.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/IMG_9028.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/IMG_9028.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/MEJOR-1.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/MEJOR-1.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/MEJOR-2.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/MEJOR-2.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/MEJOR-3.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/MEJOR-3.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/MEJOR-4.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/MEJOR-4.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/MEJOR-5.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/MEJOR-5.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/MEJOR-6.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/MEJOR-6.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/MEJOR-7.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/MEJOR-7.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/RECUPERACION11.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/RECUPERACION11.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/RECUPERACION1272028_174368259417343_495704309_o.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/RECUPERACION1272028_174368259417343_495704309_o.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/RECUPERACION1292207_173759349478234_667092005_o.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/RECUPERACION1292207_173759349478234_667092005_o.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/RECUPERACION13.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/RECUPERACION13.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/RECUPERACION1977309_319137691607065_6839376582634022903_n.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/RECUPERACION1977309_319137691607065_6839376582634022903_n.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/RECUPERACION3.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/RECUPERACION3.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/RECUPERACION3f7e79601fe111e392fa22000ae80314_7.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/RECUPERACION3f7e79601fe111e392fa22000ae80314_7.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/RECUPERACIONCompostero-y-Separador-de-Residuos.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/RECUPERACIONCompostero-y-Separador-de-Residuos.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/RECUPERACIONCultura-Tradicional-Mexicana.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/RECUPERACIONCultura-Tradicional-Mexicana.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/RECUPERACIONDefensa-Personal-2.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/RECUPERACIONDefensa-Personal-2.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/RECUPERACIONFabricacion-de-mobiliario-Eco-Urbano-4.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/RECUPERACIONFabricacion-de-mobiliario-Eco-Urbano-4.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/RECUPERACIONFabricacion-de-Pajareras.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/RECUPERACIONFabricacion-de-Pajareras.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/RECUPERACIONFabricacion-de-Pompones.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/RECUPERACIONFabricacion-de-Pompones.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/RECUPERACIONFabricacion-de-Rehiletes.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/RECUPERACIONFabricacion-de-Rehiletes.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/RECUPERACIONIMG_0667.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/RECUPERACIONIMG_0667.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/RECUPERACIONIMG_0668.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/RECUPERACIONIMG_0668.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/RECUPERACIONIMG_0675.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/RECUPERACIONIMG_0675.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/RECUPERACIONIMG_6840.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/RECUPERACIONIMG_6840.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/RECUPERACIONIMG_6865.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/RECUPERACIONIMG_6865.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/RECUPERACIONIMG_6879.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/RECUPERACIONIMG_6879.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/RECUPERACIONIMG_6935.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/RECUPERACIONIMG_6935.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/RECUPERACIONIMG_6949.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/RECUPERACIONIMG_6949.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/RECUPERACIONIMG_6971.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/RECUPERACIONIMG_6971.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/RECUPERACIONIMG_7114.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/RECUPERACIONIMG_7114.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/RECUPERACIONIMG_7134.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/RECUPERACIONIMG_7134.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/RECUPERACIONIMG_7148.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/RECUPERACIONIMG_7148.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/RECUPERACIONIMG_7331.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\recuperacion-espacio-publico/thumb/RECUPERACIONIMG_7331.jpg" alt="image">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- /End Container -->
</section>
<!-- /End Portfolio Section -->
<style type="text/css">
    .small-width {
        max-width: 740px;
    }

    .wrap {
        margin: 0 auto;
        max-width: 1140px;
        width: 92%;
    }

    #box-container {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .box:nth-child(4n+1) {
        clear: both;
        margin-left: 0;
    }
    .box {
        list-style-type: none;
        float: left;
        margin-bottom: 1rem;
        margin-left: 1%;
        margin-right: 1%;
        width: 23%;
    }
    .box a {
        display: block;
        width: 100%;
        height: auto;
    }
    .box a img {
        -webkit-back-visibility: hidden;
        display: block;
        width: 100%;
        height: auto;
        vertical-align: bottom;
    }
    body .box a  img {
        opacity: 1 !important;
    }
    .box a>img {
        -webkit-backface-visibility: hidden;
        -webkit-transition: opacity .2s;
        -moz-transition: opacity .2s;
        -ms-transition: opacity .2s;
        -o-transition: opacity .2s;
        transition: opacity .2s;
    }
    .box a img {
        max-width: 100%;
        height: auto;
    }
    .box a img {
        border: 0;
    }
</style>