{# ========================= PORTFOLIO ============================== #}
<section id="portfolio1-1" class="p-y-lg">
    <div class="container">
        <div class="row">
            <div class="wrap small-width">
                <div id="try"></div>
                <ul id="box-container">
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/1AAAA.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/1AAAA.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/1BBB.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/1BBB.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/1CCCC.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/1CCCC.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/1DDDD.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/1DDDD.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/11882_10316254702611668666349259187874_o.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/11882_10316254702611668666349259187874_o.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/13071745_1031628506927914_2677706218227550700_o.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/13071745_1031628506927914_2677706218227550700_o.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_1289.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_1289.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_2046.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_2046.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_2055.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_2055.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_2072.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_2072.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_2082.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_2082.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_2086.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_2086.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_2090.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_2090.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_2092.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_2092.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_2110.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_2110.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_2113.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_2113.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_2202.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_2202.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_2203.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_2203.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_2204.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_2204.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_5665.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_5665.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_5666.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_5666.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_5679.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_5679.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_6339.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_6339.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_6341.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_6341.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_7085.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_7085.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_7087.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_7087.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_7164.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_7164.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_7444.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_7444.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_7446.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_7446.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_7450.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_7450.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_7451.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_7451.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_7452.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_7452.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_7453.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_7453.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_7457.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_7457.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_8472.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_8472.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_8473.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_8473.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_8474.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_8474.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_8478.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_8478.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_8479.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_8479.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_8480.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_8480.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/IMG_8858.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/IMG_8858.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/PASEOS-0.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/PASEOS-0.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/PASEOS-02.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/PASEOS-02.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/PASEOS-106.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/PASEOS-106.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/PASEOS19.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/PASEOS19.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/PASEOS41.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/PASEOS41.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/PASEOS52.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/PASEOS52.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/PASEOS55.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/PASEOS55.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/PASEOS62.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/PASEOS62.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/PASEOS68.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/PASEOS68.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/PASEOS76.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/PASEOS76.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/PASEOS83.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/PASEOS83.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/PASEOS89.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/PASEOS89.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/RECON-BEHIND.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/RECON-BEHIND.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/RECON.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/RECON.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/Screen-Shot-2015-11-16-at-10.27.40-AM.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/Screen-Shot-2015-11-16-at-10.27.40-AM.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/Screen-Shot-2015-11-16-at-11.22.07-AM.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/Screen-Shot-2015-11-16-at-11.22.07-AM.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/Screen-Shot-2015-11-16-at-11.22.53-AM.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/fomento-a-los-derechos-humanos/thumb/Screen-Shot-2015-11-16-at-11.22.53-AM.jpg" alt="image">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- /End Container -->
</section>
<!-- /End Portfolio Section -->
<style type="text/css">
    .small-width {
        max-width: 740px;
    }

    .wrap {
        margin: 0 auto;
        max-width: 1140px;
        width: 92%;
    }

    #box-container {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .box:nth-child(4n+1) {
        clear: both;
        margin-left: 0;
    }
    .box {
        list-style-type: none;
        float: left;
        margin-bottom: 1rem;
        margin-left: 1%;
        margin-right: 1%;
        width: 23%;
    }
    .box a {
        display: block;
        width: 100%;
        height: auto;
    }
    .box a img {
        -webkit-back-visibility: hidden;
        display: block;
        width: 100%;
        height: auto;
        vertical-align: bottom;
    }
    body .box a  img {
        opacity: 1 !important;
    }
    .box a>img {
        -webkit-backface-visibility: hidden;
        -webkit-transition: opacity .2s;
        -moz-transition: opacity .2s;
        -ms-transition: opacity .2s;
        -o-transition: opacity .2s;
        transition: opacity .2s;
    }
    .box a img {
        max-width: 100%;
        height: auto;
    }
    .box a img {
        border: 0;
    }
</style>