<section id="portfolio1-1" class="p-y-md">
    <div class="container">
        <div class="row">
            <div class="wrap small-width">
                <h3 class="monako">Constancias.</h3>
                <hr>
                <div id="try"></div>
                <ul id="box-container">
                    <li class="box">
                        <a data-modal-target="#constancia_ijz" data-modal-description="<p>El Ayuntamiento de Zapopan y el Instituto de la Juventud Zapopan.</p>" class="" data-modal-title="Constancia otorgada a Nupali A.C." title="Street">
                            <img src="{{ _host }}img/assets/logros/thumb/constancia-ijz.jpg" alt="image">
                        </a>
                        <div id="constancia_ijz" class="hidden">
                            <iframe src="{{ _host }}img/assets/logros/pdf/constancia-ijz.pdf" frameborder="0" width="800" height="600"></iframe>
                        </div>
                    </li>                    
                    <li class="box">
                        <a data-modal-target="#constancia_sedesol" data-modal-description="<p>El Instituto Nacional de Desarrollo Social</p>" class="" data-modal-title="Constancia otorgada a Nupali A.C." title="Street">
                            <img src="{{ _host }}img/assets/logros/thumb/constancia-sedesol.jpg" alt="image">
                        </a>
                        <div id="constancia_sedesol" class="hidden">
                            <iframe src="{{ _host }}img/assets/logros/pdf/constancia-sedesol.pdf" frameborder="0" width="800" height="600"></iframe>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- /End Container -->
</section>
<section id="portfolio1-1" class="p-y-md">
    <div class="container">
        <div class="row">
            <div class="wrap small-width">
                <h3 class="monako">Reconocimientos.</h3>
                <hr>
                <div id="try"></div>
                <ul id="box-container">
                    <li class="box">
                        <a data-modal-target="#reconocimiento-asej" data-modal-description="<p>ASEJ Auditoría Superior del Estado de Jalisco.</p>" class="" data-modal-title="Reconocimiento otorgado a Nupali A.C." title="Street">
                            <img src="{{ _host }}img/assets/logros/thumb/reconocimiento-asej.jpg" alt="image">
                        </a>
                        <div id="reconocimiento-asej" class="hidden">
                            <iframe src="{{ _host }}img/assets/logros/pdf/reconocimiento-asej.pdf" frameborder="0" width="800" height="600"></iframe>
                        </div>
                    </li>
                    <li class="box">
                        <a data-modal-target="#reconocimiento_la_gente_pequena_de_mexico" data-modal-description="<p>La Gente Pequeña de México, A.C.</p>" class="" data-modal-title="Reconocimiento otorgado a Nupali A.C." title="Street">
                            <img src="{{ _host }}img/assets/logros/thumb/reconocimiento-la-gente-pequena-de-mexico.jpg" alt="image">
                        </a>
                        <div id="reconocimiento_la_gente_pequena_de_mexico" class="hidden">
                            <iframe src="{{ _host }}img/assets/logros/pdf/reconocimiento-la-gente-pequena-de-mexico.pdf" frameborder="0" width="800" height="600"></iframe>
                        </div>
                    </li>
                    <li class="box">
                        <a data-modal-target="#reconocimiento_cedhj" data-modal-description="<p>La Comision Estatal de Derechos Humanos.</p>" class="" data-modal-title="Reconocimiento otorgado a Nupali A.C." title="Street">
                            <img src="{{ _host }}img/assets/logros/thumb/reconocimiento-cedhj.jpg" alt="image">
                        </a>
                        <div id="reconocimiento_cedhj" class="hidden">
                            <iframe src="{{ _host }}img/assets/logros/pdf/reconocimiento-cedhj.pdf" frameborder="0" width="800" height="600"></iframe>
                        </div>
                    </li>
                    <li class="box">
                        <a data-modal-target="#reconocimiento_tdecd" data-modal-description="<p>El Gobierno de Guadalajara a través de la Coordinación de Desarrollo Económico y Combate a la Desigualdad y la Direcci+on de Turismo.</p>" class="" data-modal-title="Reconocimiento otorgado a Nupali A.C." title="Street">
                            <img src="{{ _host }}img/assets/logros/thumb/reconocimiento-tdecd.jpg" alt="image">
                        </a>
                        <div id="reconocimiento_tdecd" class="hidden">
                            <iframe src="{{ _host }}img/assets/logros/pdf/reconocimiento-tdecd.pdf" frameborder="0" width="800" height="600"></iframe>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- /End Container -->
</section>
<section id="portfolio1-1" class="p-y-md">
    <div class="container">
        <div class="row">
            <div class="wrap small-width">
                <h3 class="monako">Diplomas.</h3>
                <hr>
                <div id="try"></div>
                <ul id="box-container">
                    <li class="box">
                        <a data-modal-target="#premio_gdl_gob" data-modal-description="<p>El Gobierno de Guadalajara</p>" class="" data-modal-title="Otorga el tercer lugar delpremio al mérito humanitario a Nupali A.C." title="Street">
                            <img src="{{ _host }}img/assets/logros/thumb/premio-gdl-gob.jpg" alt="image">
                        </a>
                        <div id="premio_gdl_gob" class="hidden">
                            <iframe src="{{ _host }}img/assets/logros/pdf/premio-gdl-gob.pdf" frameborder="0" width="800" height="600"></iframe>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- /End Container -->
</section>
<style type="text/css">
    .small-width {
        max-width: 740px;
    }

    .wrap {
        margin: 0 auto;
        max-width: 1140px;
        width: 92%;
    }

    #box-container {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .box:nth-child(4n+1) {
        clear: both;
        margin-left: 0;
    }
    .box {
        list-style-type: none;
        float: left;
        margin-bottom: 1rem;
        margin-left: 1%;
        margin-right: 1%;
        width: 23%;
    }
    .box a {
        display: block;
        width: 100%;
        height: auto;
    }
    .box a img {
        -webkit-back-visibility: hidden;
        display: block;
        width: 100%;
        height: auto;
        vertical-align: bottom;
    }
    body .box a  img {
        opacity: 1 !important;
    }
    .box a>img {
        -webkit-backface-visibility: hidden;
        -webkit-transition: opacity .2s;
        -moz-transition: opacity .2s;
        -ms-transition: opacity .2s;
        -o-transition: opacity .2s;
        transition: opacity .2s;
    }
    .box a img {
        max-width: 100%;
        height: auto;
    }
    .box a img {
        border: 0;
    }
</style>