{# ========================= PORTFOLIO ============================== #}
<section id="portfolio1-1" class="p-y-lg">
    <div class="container">
        <div class="row">
            <div class="wrap small-width">
                <div id="try"></div>
                <ul id="box-container">
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/1A-Kumamoto-en-Parque.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/1A-Kumamoto-en-Parque.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/1AB-SPORTCITY.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/1AB-SPORTCITY.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/2ABBB.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/2ABBB.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/2ABV.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/2ABV.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/CAMINATA2.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/CAMINATA2.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/Compostero2.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/Compostero2.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/DIF.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/DIF.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/DIF2.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/DIF2.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/DIF5.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/DIF5.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/GRATIFERIA.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/GRATIFERIA.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/GRATIFERIA1.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/GRATIFERIA1.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/GRATIFERIA2.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/GRATIFERIA2.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/GRATIFERIA3.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/GRATIFERIA3.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/GRATIFERIA4.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/GRATIFERIA4.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/GRATIFERIA5.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/GRATIFERIA5.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_3422.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_3422.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_3423.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_3423.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_3424.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_3424.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_3425.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_3425.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_3426.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_3426.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_3428.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_3428.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_4077.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_4077.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_4081.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_4081.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_4088.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_4088.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_4098.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_4098.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_4104.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_4104.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_4107.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_4107.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_5294.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_5294.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_5298.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_5298.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_5303.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_5303.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_5308.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_5308.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_6810.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_6810.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_6820.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_6820.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_6863.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_6863.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_6866.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_6866.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_6869.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_6869.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_6944.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_6944.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_6964.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_6964.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_7186.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_7186.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_7196.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_7196.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_7203.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_7203.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_7210.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_7210.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_7215.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_7215.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_7222.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_7222.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_7234.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_7234.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_7240.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_7240.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_7251.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_7251.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_7256.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_7256.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_7266.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_7266.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_7273.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_7273.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_7418.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_7418.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_7423.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_7423.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_7424.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_7424.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_7436.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_7436.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_7437.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_7437.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_7440.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_7440.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_7443.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_7443.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_8992.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_8992.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_8995.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_8995.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_9014.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_9014.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/IMG_9018.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/IMG_9018.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/QWEX.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/QWEX.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/SECUNDARIA-24.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/SECUNDARIA-24.jpg">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/galerias/participacion-comunitaria/XWR.jpg" class="swipebox">
                            <img src="{{ _host }}img/assets/galerias/participacion-comunitaria/thumb/XWR.jpg">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- /End Container -->
</section>
<!-- /End Portfolio Section -->
<style type="text/css">
    .small-width {
        max-width: 740px;
    }

    .wrap {
        margin: 0 auto;
        max-width: 1140px;
        width: 92%;
    }

    #box-container {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .box:nth-child(4n+1) {
        clear: both;
        margin-left: 0;
    }
    .box {
        list-style-type: none;
        float: left;
        margin-bottom: 1rem;
        margin-left: 1%;
        margin-right: 1%;
        width: 23%;
    }
    .box a {
        display: block;
        width: 100%;
        height: auto;
    }
    .box a img {
        -webkit-back-visibility: hidden;
        display: block;
        width: 100%;
        height: auto;
        vertical-align: bottom;
    }
    body .box a  img {
        opacity: 1 !important;
    }
    .box a>img {
        -webkit-backface-visibility: hidden;
        -webkit-transition: opacity .2s;
        -moz-transition: opacity .2s;
        -ms-transition: opacity .2s;
        -o-transition: opacity .2s;
        transition: opacity .2s;
    }
    .box a img {
        max-width: 100%;
        height: auto;
    }
    .box a img {
        border: 0;
    }
</style>