{#- =========================
     HEADER
============================== #}
<header id="nav1-3">
    <nav class="navbar navbar-fixed-top bg-transparent monako" id="main-navbar">
        <div class="container">

            <div class="navbar-header nav__inc_image" data-inclusion="El cursor está sobre el Logotípo Nupáli">
                {#- Menu Button for Mobile Devices #}
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                {#- Image Logo #}
                {#-
                recommended sizes
                    width: 150px;
                    height: 35px;
                #}
                <a href="{{ _host }}" class="navbar-brand logo-black smooth-scroll img-size"><img src="{{ _host }}img/assets/logo/logo-nupali-hor.png" alt="logo" /></a>
                <a href="{{ _host }}" class="navbar-brand logo-white smooth-scroll img-size"><img src="{{ _host }}img/assets/logo/logo-nupali-hor.png" alt="logo" /></a>
            </div>{#- /End Navbar Header #}

            <div class="collapse navbar-collapse" id="navbar-collapse">
                {#- Menu Links #}
                <ul class="nav navbar-nav navbar-right {#nav_drop__hover#}">
                    <li>
                        <a href="{{ _host }}" class="smooth-scroll nav__inc_inicio" data-inclusion="Menú Inicio">
                            <i class="fa fa-home fa-fw fa-lg" style="font-size: 1.12em;" aria-hidden="true"></i> Inicio
                        </a>
                    </li>
                    <li class="{#drop__hover#}dropdown">
                        <a href="#nosotros" class="smooth-scroll nav__inc_nosotros" id="dLabel" data-toggle="dropdown" data-target="#" data-inclusion="Menú nosotros" data-info="Debes dar un click ara desplegar el sub menú.">
                            <i class="fa fa-users fa-fw fa-lg" style="font-size: 1.12em;" aria-hidden="true"></i> Nosotros <span class="caret"></span>
                        </a>
                        {#<div class="dropdown__contain">
                            <div class="drop__out">
                                <div class="drop_triangle"></div>#}
                                <ul class="dropdown-menu multi-level" role="menu">
                                    <li>
                                        <a href="#nosotros" class="smooth-scroll nav__inc_mision" data-inclusion="Menú Misión">Misión</a>
                                    </li>
                                    <li>
                                        <a href="#nosotros" class="smooth-scroll nav__inc_vision" data-inclusion="Menú Visión">Visión</a>
                                    </li>
                                    <li>
                                        <a href="#nosotros" class="smooth-scroll nav__inc_valores" data-inclusion="Menú Valores">Valores</a>
                                    </li>
                                    <li>
                                        <a href="#nosotros" class="smooth-scroll nav__inc_historia" data-inclusion="Menú Historia">Historia</a>
                                    </li>
                                    <li>
                                        <a href="#nosotros" class="smooth-scroll nav__inc_crew" data-inclusion="Menú Crew">Crew</a>
                                    </li>
                                </ul>
                            {#</div>
                        </div>#}
                    </li>
                    <li class="dropdown">
                        <a href="{{ _host }}proyectos" id="dLabel" data-toggle="dropdown" data-target="#" class="nav__inc_proyectos" data-inclusion="Menú Proyectos">
                            <i class="fa fa-object-group fa-fw fa-lg" style="font-size: 1.12em;" aria-hidden="true"></i> Proyectos <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu">
                            <li>
                                <a href="{{ _host }}proyectos/elemental-parque-libre" class="nav__inc_elemental" data-inclusion="Menú Elemental Parque Libre"><i class="fa fa-tree fa-fw fa-lg" style="margin-right: 10px;" style="font-size: 1.12em;" aria-hidden="true"></i> Elemental Parque Libre</a>
                            </li>
                            <li>
                                <a href="{{ _host }}proyectos/paseos-por-la-igualdad" class="nav__inc_paseos" data-inclusion="Paseos por la Igualdad"><i class="fa fa-wheelchair fa-fw fa-lg" style="margin-right: 10px;" style="font-size: 1.12em;" aria-hidden="true"></i>Paseos por la Igualdad</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{{ _host }}logros" id="dLabel" data-toggle="dropdown" data-target="#" class="nav__inc_logros" data-inclusion="Menú Logros">
                            <i class="fa fa-check-square-o fa-fw fa-lg" style="font-size: 1.12em;" aria-hidden="true"></i> Logros <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu">
                            <li>
                                <a href="{{ _host }}logros/reconocimiento" class="nav__inc_reconocimiento" data-inclusion="Menú Reconocimiento"><i class="fa fa-trophy fa-fw fa-lg" style="margin-right: 10px;" style="font-size: 1.12em;" aria-hidden="true"></i>Reconocimiento</a>
                            </li>
                            <li>
                                <a href="{{ _host }}logros/impacto-social" class="nav__inc_impactosocial" data-inclusion="Menú Impacto Social"><i class="fa fa-heart-o fa-fw fa-lg" style="margin-right: 10px;" style="font-size: 1.12em;" aria-hidden="true"></i>Impacto Social</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#galeria" class="smooth-scroll nav__inc_galerias" data-inclusion="Menú Galerías" id="dLabel" data-toggle="dropdown" data-target="#">
                            <i class="fa fa-picture-o fa-fw fa-lg" style="font-size: 1.12em;" aria-hidden="true"></i>  Galerías <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu">
                            <li>
                                <a href="{{ _host }}galerias/paseos-por-la-igualdad" class="nav__inc_paseosigualdad" data-inclusion="Menú Paseos por la Igualdad">Paseos por la Igualdad</a>
                            </li>
                            <li>
                                <a href="{{ _host }}galerias/talleres-inclusion" class="nav__inc_talleresinclusion" data-iclusion="Talleres Inclusión">Talleres Inclusión</a>
                            </li>
                            <li>
                                <a href="{{ _host }}galerias/recuperacion-espacios-publicos" class="nav__inc_recuperacionesaciospublicos" data-inclusion="Recuperación espacios públicos">Recuperación espacios publicos</a>
                            </li>
                            <li>
                                <a href="{{ _host }}galerias/grafiterias" class="nav__inc_grafiterias" data-inclusion="Menú Comunidad y eventos">Comunidad y eventos</a>
                            </li>
                            <li>
                                <a href="{{ _host }}galerias/labor-comunitario" class="nav__inc_laborcomunitario" data-inclusion="Menú Labor Comunitario">Labor comunitario</a>
                            </li>
                            <li>
                                <a href="{{ _host }}galerias/labor-ecologico" class="nav__inc_">Labor ecologico</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ _host }}noticias" class="smooth-scroll">
                            <i class="fa fa-newspaper-o fa-fw fa-lg" style="font-size: 1.12em;" aria-hidden="true"></i> Noticias
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="{{ _host }}como-ayudar" id="dLabel" data-toggle="dropdown" data-target="#">
                            <i class="fa fa-question-circle fa-fw fa-lg" style="font-size: 1.12em;" aria-hidden="true"></i> ¿Cómo Ayudar? <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu">
                            <li>
                                <a href="{{ _host }}como-ayudar/donativos"><i class="fa fa-usd fa-fw fa-lg" style="margin-right: 10px;" style="font-size: 1.12em;" aria-hidden="true"></i>Donativos</a>
                            </li>
                            <li>
                                <a href="{{ _host }}como-ayudar/voluntarios"><i class="fa fa-users fa-fw fa-lg" style="margin-right: 10px;" style="font-size: 1.12em;" aria-hidden="true"></i> Voluntarios</a>
                            </li>
                            <li>
                                <a href="{{ _host }}como-ayudar/cuestionario"><i class="fa fa-list-ol fa-fw fa-lg" style="margin-right: 10px;" style="font-size: 1.12em;" aria-hidden="true"></i>Cuestionario
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ _host }}contacto" class="smooth-scroll">
                            <i class="fa fa-envelope-o fa-fw fa-lg" style="font-size: 1.12em;" aria-hidden="true"></i> Contacto
                        </a>
                    </li>
                </ul>{#- /End Menu Links #}
            </div>{#- /End Navbar Collapse #}

        </div>{#- /End Container #}
    </nav>{#- /End Navbar #}
</header>