{# =========================
   PORTFOLIO
============================== #}
<section id="portfolio1-1" class="p-y-lg">
    <div class="container">
        <div class="row">
            <div class="wrap small-width">
                <div id="try"></div>
                <ul id="box-container">
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/dif3.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/dif3.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/dif4.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/dif4.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/dif5.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/dif5.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/dif5a.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/dif5a.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/dif6.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/dif6.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/IMG_3460.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/IMG_3460.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/IMG_3465.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/IMG_3465.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/IMG_3469.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/IMG_3469.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/IMG_3471.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/IMG_3471.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/IMG_3476.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/IMG_3476.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/IMG_3478.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/IMG_3478.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/IMG_4797.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/IMG_4797.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/IMG_4805.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/IMG_4805.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/IMG_4813.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/IMG_4813.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/IMG_7570.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/IMG_7570.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/IMG_7571.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/IMG_7571.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/IMG_7573.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/IMG_7573.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/IMG_7574.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/IMG_7574.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/IMG_7576.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/IMG_7576.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/IMG_7579.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/IMG_7579.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/IMG_7581.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/IMG_7581.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/IMG_7585.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/IMG_7585.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/IMG_7588.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/IMG_7588.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/IMG_7589.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/IMG_7589.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/IMG_7590.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/IMG_7590.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/IMG_7595.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/IMG_7595.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/IMG_7597.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/IMG_7597.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/IMG_7602.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/IMG_7602.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/IMG_7604.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/IMG_7604.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/IMG_7605.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/IMG_7605.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/IMG_7608.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/IMG_7608.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/IMG_7610.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/IMG_7610.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/MIGRANTES-14.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/MIGRANTES-14.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/MIGRANTES.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/MIGRANTES.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/MIGRANTES10.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/MIGRANTES10.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/MIGRANTES11.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/MIGRANTES11.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/MIGRANTES12.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/MIGRANTES12.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/MIGRANTES2.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/MIGRANTES2.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/MIGRANTES3.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/MIGRANTES3.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/MIGRANTES4.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/MIGRANTES4.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/MIGRANTES5.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/MIGRANTES5.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/MIGRANTES7.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/MIGRANTES7.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/MIGRANTES8.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/MIGRANTES8.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/MIGRANTES9.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/MIGRANTES9.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/Screen-Shot-2015-11-16-at-11.20.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/Screen-Shot-2015-11-16-at-11.jpg" alt="image">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- /End Container -->
</section>
<!-- /End Portfolio Section -->
<style type="text/css">
    .small-width {
        max-width: 740px;
    }

    .wrap {
        margin: 0 auto;
        max-width: 1140px;
        width: 92%;
    }

    #box-container {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .box:nth-child(4n+1) {
        clear: both;
        margin-left: 0;
    }
    .box {
        list-style-type: none;
        float: left;
        margin-bottom: 1rem;
        margin-left: 1%;
        margin-right: 1%;
        width: 23%;
    }
    .box a {
        display: block;
        width: 100%;
        height: auto;
    }
    .box a img {
        -webkit-back-visibility: hidden;
        display: block;
        width: 100%;
        height: auto;
        vertical-align: bottom;
    }
    body .box a  img {
        opacity: 1 !important;
    }
    .box a>img {
        -webkit-backface-visibility: hidden;
        -webkit-transition: opacity .2s;
        -moz-transition: opacity .2s;
        -ms-transition: opacity .2s;
        -o-transition: opacity .2s;
        transition: opacity .2s;
    }
    .box a img {
        max-width: 100%;
        height: auto;
    }
    .box a img {
        border: 0;
    }
</style>