<div class="wrap small-width">
    <h3 class="monako">Galeria.</h3>
    <hr>
    <div id="try"></div>
    <ul id="box-container">
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/0.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/0.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/0A.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/0A.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/1.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/1.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/1A.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/1A.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/2.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/2.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/2A.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/2A.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/3.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/3.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/4.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/4.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/5.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/5.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/6.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/6.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/EXPO1.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/EXPO1.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/EXPO2.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/EXPO2.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/EXPO4.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/EXPO4.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IAREA---Agua-Final.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IAREA---Agua-Final.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IAREA---Aire-Final.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IAREA---Aire-Final.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IAREA---Fuego-Final.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IAREA---Fuego-Final.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IAREA---Tierra-Final.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IAREA---Tierra-Final.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IMG_1319.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IMG_1319.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IMG_1327.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IMG_1327.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IMG_1336.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IMG_1336.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IMG_1349.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IMG_1349.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IMG_1369.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IMG_1369.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IMG_7114.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IMG_7114.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IMG_7121.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IMG_7121.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IMG_7136.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IMG_7136.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IMG_7140.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IMG_7140.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IMG_7142.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IMG_7142.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IMG_7542.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IMG_7542.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IMG_7613.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IMG_7613.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IMG_7620.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IMG_7620.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IMG_7625.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IMG_7625.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IMG_7639.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IMG_7639.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IMG_7640.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IMG_7640.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IMG_7678.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IMG_7678.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IMG_7696.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IMG_7696.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IMG_7737.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IMG_7737.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IMG_7753.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IMG_7753.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IMG_7755.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IMG_7755.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IMG_7804.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IMG_7804.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IMG_7906.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IMG_7906.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IMG_7923.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IMG_7923.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IMG_8094.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IMG_8094.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IMG_8663.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IMG_8663.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IMG_9027.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IMG_9027.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IMG_9152.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IMG_9152.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/IMG_9995.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/IMG_9995.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/JANES-WALK.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/JANES-WALK.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/JEXPO5.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/JEXPO5.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/Kumamoto-en-Parque.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/Kumamoto-en-Parque.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/MEDITA.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/MEDITA.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/MEDITA2.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/MEDITA2.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/MEDITA3.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/MEDITA3.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/MEDITA4.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/MEDITA4.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/portada-fb.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/portada-fb.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACION10641034_312621682258666_6510300867373361961_n.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACION10641034_312621682258666_6510300867373361961_n.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONcalendario.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONcalendario.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONCompostero-y-Separador-de-Residuos-2.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONCompostero-y-Separador-de-Residuos-2.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONConciertos.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONConciertos.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONDanza-Mexica.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONDanza-Mexica.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONDefensa-Personal.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONDefensa-Personal.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONFabricacion-de-mobiliario-Eco-Urbano-1.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONFabricacion-de-mobiliario-Eco-Urbano-1.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONFabricacion-de-mobiliario-Eco-Urbano-3.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONFabricacion-de-mobiliario-Eco-Urbano-3.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_0669.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_0669.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_0819.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_0819.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_0889.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_0889.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_0896.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_0896.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_0919.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_0919.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_0924.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_0924.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_0935.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_0935.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_0954.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_0954.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_0980.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_0980.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_1001.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_1001.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_1002.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_1002.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_1077.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_1077.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_1084.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_1084.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_1124.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_1124.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_2381.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_2381.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_3237.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_3237.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_6810.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_6810.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_6814.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_6814.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_6825.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_6825.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_6832.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_6832.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_6839.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_6839.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_6849.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_6849.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_6853.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_6853.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_6893.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_6893.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_6905.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_6905.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_6906.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_6906.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_6931.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_6931.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_6964.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_6964.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_7130.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_7130.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_7530.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_7530.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_7628.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_7628.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_7682.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_7682.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_7901.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_7901.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONIMG_7909.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONIMG_7909.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONMeditacion-Guiada-2.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONMeditacion-Guiada-2.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONMejoramiento-Urbano-1.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONMejoramiento-Urbano-1.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/RECUPERACIONYoga-de-la-Risa.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/RECUPERACIONYoga-de-la-Risa.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/Reforestación-3.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/Reforestación-3.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/Talleres-de-Pintura.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/Talleres-de-Pintura.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/TEPL-Musica.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/TEPL-Musica.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/TEPL-Pintura.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/TEPL-Pintura.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/UP0.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/UP0.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/UP0A.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/UP0A.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/UP1.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/UP1.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/UP3.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/UP3.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/UP5.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/UP5.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/UP6.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/UP6.jpg" alt="image">
            </a>
        </li>
        <li class="box">
            <a href="{{ _host }}img\assets\proyectos\elemental-parque-libre/Volante-Final-Evento-Octubre-2.jpg" class="swipebox" title="Street">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/Volante-Final-Evento-Octubre-2.jpg" alt="image">
            </a>
        </li>
    </ul>
</div>