<!-- =========================
   PORTFOLIO
============================== -->
<section id="portfolio1-1" class="p-y-lg">

    {#
    <!-- Section Header -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-header text-center wow fadeIn">
                    <h2>Latest Projects</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque animi labore minus quidem eum voluptate, sapiente doloribus, molestias in explicabo totam.</p>
                </div>
            </div>
        </div>
    </div>
    #}

    <div class="container">
        <div class="row">
            <!-- Portfolio Item -->
            <div class="col-md-4 col-sm-6 m-b-md clearfix">
                <div class="h caption-1 wow zoomIn">
                    <!-- Item Image -->
                    <figure><img src="{{ _host }}img/logros/small/sm-acta-constitutiva.jpg" class="img-responsive" alt="Acta Constitutiva.">
                        <!-- Item Caption -->
                        <figcaption>
                            <div class="caption-box vertical-center-abs text-center">
                                <h5>Acta Constitutiva</h5>
                                <p class="small"></p>
                                <!-- View More Button -->
                                <a {#href="{{ _host }}img/logros/full-acta-constitutiva.pdf"#} href="#acta-constitutiva" class="btn btn-blue m-b-0 venobox" data-vbtype="inline" title="Acta Constitutiva">Ver Más</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- Portfolio Item -->
            <div class="col-md-4 col-sm-6 m-b-md clearfix">
                <div class="h caption-1 wow zoomIn" data-wow-delay="0.2s">
                    <!-- Item Image -->
                    <figure><img src="{{ _host }}img/logros/small/sm-cfe.jpg" class="img-responsive" alt="CFE">
                        <!-- Item Caption -->
                        <figcaption>
                            <div class="caption-box vertical-center-abs text-center">
                                <h5>CFE</h5>
                                <p class="small"></p>
                                <!-- View More Button -->
                                <a href="{{ _host }}imge/logros/full-cfe.pdf" class="btn btn-blue m-b-0" title="CFE">Ver Más</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- Portfolio Item -->
            <div class="col-md-4 col-sm-6 m-b-md clearfix">
                <div class="h caption-1 wow zoomIn" data-wow-delay="0.4s">
                    <!-- Item Image -->
                    <figure><img src="{{ _host }}img/logros/small/sm-cluni.jpg" class="img-responsive" alt="CLUNI">
                        <!-- Item Caption -->
                        <figcaption>
                            <div class="caption-box vertical-center-abs text-center">
                                <h5>CLUNI</h5>
                                <p class="small"></p>
                                <!-- View More Button -->
                                <a href="images/portfolio3-xl.jpg" class="btn btn-blue m-b-0" title="CLUNI">Ver Más</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- Portfolio Item -->
            <div class="col-md-4 col-sm-6 m-b-md clearfix">
                <div class="h caption-1 wow zoomIn" data-wow-delay="0.6s">
                    <!-- Item Image -->
                    <figure><img src="{{ _host }}img/logros/small/sm-ijas.jpg" class="img-responsive" alt="IJAS">
                        <!-- Item Caption -->
                        <figcaption>
                            <div class="caption-box vertical-center-abs text-center">
                                <h5>IJAS</h5>
                                <p class="small"></p>
                                <!-- View More Button -->
                                <a href="images/portfolio4-xl.jpg" class="btn btn-blue m-b-0" title="IJAS">Ver Más</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- Portfolio Item -->
            <div class="col-md-4 col-sm-6 m-b-md clearfix">
                <div class="h caption-1 wow zoomIn" data-wow-delay="0.8s">
                    <!-- Item Image -->
                    <figure><img src="{{ _host }}img/logros/small/sm-rfc-julio.jpg" class="img-responsive" alt="RFC JULIO">
                        <!-- Item Caption -->
                        <figcaption>
                            <div class="caption-box vertical-center-abs text-center">
                                <h5>RFC JULIO</h5>
                                <p class="small"></p>
                                <!-- View More Button -->
                                <a href="images/portfolio5-xl.jpg" class="btn btn-blue m-b-0" title="RFC JULIO">Ver Más</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- Portfolio Item -->
            <div class="col-md-4 col-sm-6 m-b-md clearfix">
                <div class="h caption-1 wow zoomIn" data-wow-delay="1s">
                    <!-- Item Image -->
                    <figure><img src="{{ _host }}img/logros/small/sm-rfc.jpg" class="img-responsive" alt="RFC">
                        <!-- Item Caption -->
                        <figcaption>
                            <div class="caption-box vertical-center-abs text-center">
                                <h5>RFC</h5>
                                <p class="small"></p>
                                <!-- View More Button -->
                                <a href="images/portfolio6-xl.jpg" class="btn btn-blue m-b-0" title="RFC">Ver Más</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- Portfolio Item -->
            <div class="col-md-4 col-sm-6 m-b-md clearfix">
                <div class="h caption-1 wow zoomIn" data-wow-delay="1s">
                    <!-- Item Image -->
                    <figure><img src="{{ _host }}img/logros/small/sm-sat.jpg" class="img-responsive" alt="SAT">
                        <!-- Item Caption -->
                        <figcaption>
                            <div class="caption-box vertical-center-abs text-center">
                                <h5>SAT</h5>
                                <p class="small"></p>
                                <!-- View More Button -->
                                <a href="images/portfolio6-xl.jpg" class="btn btn-blue m-b-0" title="SAT">Ver Más</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div><!-- /End Portfolio Row-->
        <div id="acta-constitutiva" style="display:none;">
            <div id="wrapper-iframe">
                <div class="iframe-container">
                    <iframe src="{{ _host }}img/logros/full-acta-constitutiva.pdf" frameborder="0""></iframe>
                </div>
            </div>
        </div>
        {#
        <!-- Portfolio Footer Cta -->
        <div class="col-md-8 col-md-offset-2 text-center p-t-md wow fadeIn" data-wow-delay="0.8s">
            <h4 class="m-t f-w-900">We turn great ideas into brilliant realities.</h4>
            <p class="p-opacity m-b-md">Quis dolorem architecto nemo, enim pariatur, aliquid laudantium voluptatum animi. Adipisicing rerum, natus repellendus possimus et excepturi. Reprehenderit iste, laborum quod mollitia nesciunt.</p>
            <a href="#" class="btn btn-shadow btn-blue text-uppercase">View more Work</a>
        </div>
        #}

    </div><!-- /End Container -->
</section>
<!-- /End Portfolio Section -->