<section class="p-y-md">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-9 p-t">
                <h2>PASEOS POR LA IGUALDAD</h2>
                <p>Es una serie de pabellones interactivos creados por Nupali A.C. que buscan sensibilizar a los visitantes acerca de los obstáculos que viven día con día las personas con discapacidad en México. Cada pabellón, cuenta con un recorrido único durante el cual, los asistentes experimentan virtualmente la sensación de vivir momentáneamente con alguna limitante física y cómo es realizar algunas actividades “cotidianas” tan básicas como cruzar la calle, utilizar el transporte público o simplemente cambiarse de ropa.</p>

                <p>Las 3 variantes de pabellones existentes han sido diseñados en conjunto con distintas organizaciones y colaboradores especiales que viven la discapacidad en cuestión, y están habilitados con un circuito de actividades guiadas que buscan que los participantes se sientan identificados con las barreras a las que se enfrentan las personas con los siguientes tipos discapacidad: personas de talla baja (LA MEDIDA DE LO EXTRAORDINARIO), discapacidad visual (MÁS ALLÁ DE LAS SOMBRAS) y discapacidad motora / usuarios de silla de ruedas (A RODAR LA VIDA).</p>

                <p>Los pabellones se exhiben de manera individual y cada activación se abre al público durante periodos de 21 días efectivos, impactando directamente un promedio superior a 1,000 personas cada uno.</p>

                <p>El proyecto ha sido replicado en 4 ocasiones durante 2015 y 2016, consiguiendo el impacto directo en un porcentaje de la población Jalisciense que está relacionado con alguna discapacidad, generando soluciones a problemas de movilidad y derechos humanos, entre otras.</p>
                <hr>
                <h4 id="requirements" class="p-t">Locaciones</h4>
                <ul>
                    <li>
                        <b>Guadalajara</b> <span>Plaza Liberación, Julio 2015.</span>
                    </li>
                    <li>
                        <b>Guadalajara</b> <span>Plaza Iberoamérica H. Cultural Cabañas, Septiembre 2015.</span>
                    </li>
                    <li>
                        <b>Zapopan</b> <span>Parque Metropolitano, Noviembre 2015.</span>
                    </li>
                    <li>
                        <b>Guadalajara</b> <span>Plaza Liberación, Octubre 2016.</span>
                    </li>
                </ul>
                <hr>
                <p>Actualmente el equipo de Nupali A..C. trabaja diseñando 2 pabellones más que esperamos muy pronto podamos compartir.</p>

                {# GALERIA #}
                {# 
                    Facebook: https://www.facebook.com/paseosporlaigualdad/
                    Instagram: https://www.instagram.com/paseosporlaigualdad/?hl=en
                    YouTube:  https://www.youtube.com/watch?v=R5w9I_TZNwQ

                    http://udgtv.com/noticias/jalisco/presentan-programa-paseos-por-la-igualdad-para-conocer-la-discapacidad/
                    https://www.facebook.com/c7.jalisco/videos/537834166382255/?autoplay_reason=all_page_organic_allowed&video_container_type=0&video_creator_product_type=2&app_id=2392950137&live_video_guests=0
                    https://www.youtube.com/watch?v=J6EnYDraQRk
                    https://www.youtube.com/watch?v=9P0WIBCtKnE
                    https://www.youtube.com/watch?v=mJIOBGR1oYA
                    https://www.youtube.com/watch?v=R07VAYgBXmw
                    https://www.youtube.com/watch?v=7wQ7Iaper7Q
                    https://www.youtube.com/watch?v=GBxYjcJMhKE
                    https://www.youtube.com/watch?v=8DTXXX9MlUg
                    https://www.youtube.com/watch?v=PXsEtHzvhlc
                #}
                {# Videos (YOUTUBE) #}
                {# Redes Sociales, #somosmaslosbuenos  #}
                {# INCLUIR TODOS LOS LINKS PARA VER LOS VIDEOS DIRECTAMENTE EN www.nupali.org/... #}
            </div>
        </div>
    </div>
</section>
<section id="portfolio1-1" class="p-y-lg">
    <div class="container">
        <div class="row">
            <div class="wrap small-width">
                <h3 class="monako">Galeria.</h3>
                <hr>
                <div id="try"></div>
                <ul id="box-container">
                    <li class="box">
                        <a href="{{ _host }}img\assets\galerias\asistencia-social/dif3.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\galerias\asistencia-social/thumb/dif3.jpg" alt="image">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- /End Container -->
</section>
<section id="portfolio1-1" class="p-y-lg">
    <div class="container">
        <div class="row">
            <div class="wrap small-width">
                <h3 class="monako">Resultados.</h3>
                <hr>
                <div id="try"></div>
                <ul id="box-container">
                    <li class="box">
                        <a class="swipebox-video" rel="youtube" href="https://www.youtube.com/watch?v=J6EnYDraQRk">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/paseos-por-la-igualdad-historias-vida.jpg" alt="image">
                            <p class="monako">Paseos por la igualdad, Historias y vida.</p>
                        </a>
                    </li>
                    <li class="box">
                        <a class="swipebox-video" rel="youtube" href="https://www.youtube.com/watch?v=9P0WIBCtKnE">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/paseos-por-la-igualdad-resumen.jpg" alt="image">
                            <p class="monako">PASEOS POR LA IGUALDAD Resumen</p>
                        </a>
                    </li>
                    <li class="box">
                        <a class="swipebox-video" rel="youtube" href="https://www.youtube.com/watch?v=D7xDueiAzS0">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/testimonial-8.jpg" alt="image">
                            <p class="monako">Testimonial 8</p>
                        </a>
                    </li>
                    <li class="box">
                        <a class="swipebox-video" rel="youtube" href="https://www.youtube.com/watch?v=R07VAYgBXmw">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/paseos-por-la-igualdad-entrevista-1.jpg" alt="image">
                            <p class="monako">Entrevista Paseos Por la Igualdad 1</p>
                        </a>
                    </li>
                    <li class="box">
                        <a class="swipebox-video" rel="youtube" href="https://www.youtube.com/watch?v=7wQ7Iaper7Q">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/spot-a-rodar-por-la-vida.jpg" alt="image">
                            <p class="monako">Spot A Rodar la Vida</p>
                        </a>
                    </li>
                    <li class="box">
                        <a class="swipebox-video" rel="youtube" href="https://www.youtube.com/watch?v=GBxYjcJMhKE">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/mas-alla-de-las-sombras-2016.jpg" alt="image">
                            <p class="monako">Más allá de las sombras 2016</p>
                        </a>
                    </li>
                    <li class="box">
                        <a class="swipebox-video" rel="youtube" href="https://www.youtube.com/watch?v=8DTXXX9MlUg">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/experiencia.en-movimiento-1.jpg" alt="image">
                            <p class="monako">Experiencias en Movimiento 1</p>
                        </a>
                    </li>
                    <li class="box">
                        <a class="swipebox-video" rel="youtube" href="https://www.youtube.com/watch?v=PXsEtHzvhlc">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/paseos-por-la-igualdad-resumen-2.jpg" alt="image">
                            <p class="monako">Resumen Paseos por la igualdad</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- /End Container -->
</section>
<!-- /End Portfolio Section -->
<style type="text/css">
    .small-width {
        max-width: 740px;
    }

    .wrap {
        margin: 0 auto;
        max-width: 1140px;
        width: 92%;
    }

    #box-container {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .box:nth-child(4n+1) {
        clear: both;
        margin-left: 0;
    }
    .box {
        list-style-type: none;
        float: left;
        margin-bottom: 1rem;
        margin-left: 1%;
        margin-right: 1%;
        width: 23%;
    }
    .box a {
        display: block;
        width: 100%;
        height: auto;
    }
    .box a img {
        -webkit-back-visibility: hidden;
        display: block;
        width: 100%;
        height: auto;
        vertical-align: bottom;
    }
    body .box a  img {
        opacity: 1 !important;
    }
    .box a>img {
        -webkit-backface-visibility: hidden;
        -webkit-transition: opacity .2s;
        -moz-transition: opacity .2s;
        -ms-transition: opacity .2s;
        -o-transition: opacity .2s;
        transition: opacity .2s;
    }
    .box a img {
        max-width: 100%;
        height: auto;
    }
    .box a img {
        border: 0;
    }
    .box a p {
        font-size: 20px;
        color: rgba(12, 165, 228, 0.6588235294117647);
        font-weight: bold;
        text-align: center;
        margin: 13px auto;
    }
</style>